# Diretórios e arquivos de configuração do R
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Arquivos específicos do projeto
data/allchrAR08.txt

# Tipos de arquivo a serem ignorados
*.tiff
*.rds
*.rar
*.docx
*.pdf
*.png

# Arquivos específicos do repositório
output/result_sommer_row_col_random.RDS

# Pastas específicas a serem ignoradas
data/Artigo/
data/Articles/
data/data.rar/
"output/result_sommer_row_col_random.RDS" 
"output/result_sommer_row_col_random.RDS" 
