.Rproj.user
.Rhistory
.RData
.Ruserdata
data/allchrAR08.txt
data/genomic selection.pptx
.tiff
.rds
.rar
.docx
Artigo GS tolerancia a seca_revised.rar
Seleção Genômica deficit hidrico.pptx
.pdf
output/result_sommer_row_col_random.RDS
data/Artigo/
data/Articles/
data/data.rar/
'data/Artigo/\ndata/data.rar' 
